.border_to_design {
  background-image: url(/signup/border.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .border_to_design {
    background-image: url(/signup/mobileborder.svg);
  }
}
